%h2= @gem_model.name.capitalize
%br
%p= @gem_model.info

- if current_user.has_favorited?(@gem_model)
  = form_tag favorite_path(@gem_model), method: :delete do
    = hidden_field_tag :id, @gem_model.id
    = button_tag(type: 'submit', class: "btn btn-success") do
      %i.fa.fa-star-o

- else
  = form_tag favorites_path(@gem_model), method: :post do
    = hidden_field_tag :id, @gem_model.id
    = button_tag(type: 'submit', class: "btn btn-default") do
      %i.fa.fa-star-o
